
<h3 class="text-center">{{msg}}</h3>
<div class="row">
    <div class="col-sm-3 mb-4 pl-1 pr-1" *ngFor="let user of users_lists" id={{user.id}}>
        <div class="card" (click)="goToSingleUser(user.id);">
            <img src="{{user.avatar}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"><strong>ID: </strong>{{user.id}}</p>
                <h5 class="card-title"><strong>Name: </strong>{{user.first_name}} {{user.last_name}}</h5>
              
                <a href="mailto:{{user.email}}" class=""><strong>Email: </strong>{{user.email}}</a>
            </div>
        </div>
    </div>
</div>

